.section {
    display: inline-block;
    background: #ffffff;
    width: 100%;
  border-bottom: 20px solid #f2f2f4;
  padding-bottom: 15px;
  }
  .section .head {
    display: block;
    float: left;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 5px;
  }
  .section .head h3 {
    float: left;
    margin: 0%;
    line-height: 35px;
    text-indent: 10px;
    color: #000;
  }
  .section .head .more {
    float: right;
    line-height: 35px;
    margin-right: 10px;
    color: #000;
  }
  .section .body {
    background: #ffffff;
    display: block;
    width: 100%;
    float: left;
  }
  .section .body ul {
    display: inline-block;
    width: 100%;
  }
  .section .body ul li {
    display: inline-block;
    width: 33.3%;
    text-align: center;
    padding-top:5px;
    vertical-align: top;
    /*HACK */
  }
  
  .section .body ul li .cover {
    margin: 0 auto;
  }
  .section .body ul li span {
    display: block;
    float: left;
    text-align: center;
    width: 100%;
    color: #000;
  }
  .section .body ul li span label {
    text-align: center;
    width: 100px;
    display: inline-block;
  }
  
  .section .body ul li .author {
    color: rgba(0, 0, 0, 0.3);
    font-size: 13px;
    margin-top:5px;
  }
/*.section .body ul li .author > label{*/
/*  text-align: center;*/
/*  width: 100px;*/
/*  display: inline-block;*/
/*}*/
.section_self ul{
  margin-bottom: 50px;
}
.section_self {
  border-bottom: 0px solid #f2f2f4;
  padding-bottom: 0px;
}